<body  style="background-image:url('./../../../assets/images/hackhub-banner-sr.png');">
<div class="container">
  <h1 class="h1">Delete Hackathon</h1>
  <div class="form-group">
    <!--Entering the Hackathon name you want to delete-->
    <h4>Enter the Name of the Hackathon you want to delete</h4>
    <flash-messages></flash-messages>
    <input class="form-control input-lg" [(ngModel)]="name" name="name" placeholder="Hackathon name" autofocus><br><br>



    <button (click)="deleteHackathon()"  class="btn btn-danger">Delete Hackathon</button>
    <br><br>


  </div>
</div>
</body>
