<div class="container">


  <h1 class="h1">Events</h1>
  <button (click)="eventCreate()" class="btn btn-default" [ngStyle]="{color: 'blue'}"  routerLink="/createEvents">Create Event</button>
  <button (click)="eventUpdate()" class="btn btn-default" [ngStyle]="{color: 'blue'}"  routerLink="/updateEvents">Update Event</button>
  <button (click)="eventDelete()" class="btn btn-default" [ngStyle]="{color: 'red'}"  routerLink="/deleteEvents">Delete Event</button>




  <div id="tab-group">
    <div id="tab-group-1" class="ready">
      <h3 id="event-1"><strong>{{event}}</strong></h3><br>
      <p id="content-1"> {{event}} is going to happen at {{eventPlace}} on {{eventDate}} at {{eventTime}} onwards</p>

    </div>
  </div>
</div>
