<nav class="navbar navbar-expand-sm navbar-dark bg-dark" xmlns="http://www.w3.org/1999/html">
  <a class="navbar-brand" href="#">HackHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">{{btn1}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item  active">
        <a class="nav-link" routerLink="/hackathons">{{btn2}}</a>
      </li>

    </ul>

    <button type="button" routerLink="/Profile" class="btn">Profile</button>
    <button type="button" routerLink="/LoginHackHub"  class="btn">Log In</button>
    <button type="button" routerLink="/LoginHackHub" class="btn">Log Out</button>
    <button type="button" routerLink="/SignupHackHub" class="btn">Sign Up</button>
  </div>
</nav>

