<div *ngIf="user">
  <div class="container">
    <div class="row">
      <div class="col-sm-6"><h2 class="page-header">{{user.name}}</h2></div>

      <div *ngIf="user.userType===2" class="btn-group">

        <button class="btn btn-default" [ngStyle]="{color: 'red'}" routerLink="/AddAdmin">Add New Admin</button>
        <button class="btn btn-default" [ngStyle]="{color: 'black'}" (click)="mail()" routerLink="/MailingList">Mailing List</button>
        <button class="btn btn-default" [ngStyle]="{color: 'black'}" routerLink="/AddNews">Add News</button>

      </div>
      <button class="btn btn-default" *ngIf="user.userType===1 && user.subscribed === false" (click)="subscribe(user)" [ngStyle]="{color: 'black'}" style="margin-left: 10px" routerLink="/News">Subscribe for News</button>
      <button class="btn btn-default" *ngIf="user.userType===1 && user.subscribed === true" (click)="unsubscribe(user)" [ngStyle]="{color: 'black'}" style="margin-left: 10px">Unsubscribe for News</button>
    </div>
    <br>
    <!--only admin can add an admin-->
    <ul class="list-group">
      <li class="list-group-item">Username: {{user.name}}</li>
      <li class="list-group-item">Email: {{user.email}}</li>
      <li class="list-group-item">Contact: {{user.contact}}</li>
    </ul>
  </div>
</div>



