<body class="text-center" style="background-image: url('./../../../assets/images/hackhub-banner-sr.png');height: 100vh;margin-top: -24px;">
<form class="form-signin">

  <h1 class="h3 mb-3 font-weight-normal" style="padding-top: 20px">Add News</h1>

  <div class="container">
    <div class="form-group">
      <flash-messages></flash-messages>
      <textarea class="form-control input-lg" style="height: 40px" [(ngModel)]="topic" name="topic" placeholder="Enter the Topic" autofocus></textarea><br>
      <textarea class="form-control input-lg" style="height: 200px" [(ngModel)]="newsContent" name="newsContent"
                placeholder="Add your news here" autofocus></textarea><br><br>
    </div>
  </div>


  <button class="btn btn-lg btn-primary " type="submit" (click)="addNews()">Add News</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
</form>
</body>
