<div  class="container">


  <h1 class="h1">Hackathons</h1>
  <flash-messages></flash-messages>
  <button (click)="createHackathon()" class="btn btn-default" [ngStyle]="{color: 'blue'}"  routerLink="/createHackathons">Create Hackathon</button>
  <button (click)="updateHackathon()" class="btn btn-default" [ngStyle]="{color: 'blue'}"  routerLink="/updateHackathons">Update Hackathon</button>
  <button (click)="deleteHackathon()" class="btn btn-default" [ngStyle]="{color: 'red'}"  routerLink="/deleteHackathons">Delete Hackathon</button>




  <div *ngIf="user" id="tab-group">
    <div  id="tab-group-1" class="ready">
      <h3 id="hackathon-1"><strong>{{user.name}}</strong></h3><br>
      <p id="content-1"> {{user.name}} is going to happen at {{user.email}} from {{user.name}} to {{user.name}}</p>

    </div>
  </div>
</div>
