<div  class="container">


  <h1  class="h1">Hackathons</h1>
  <flash-messages></flash-messages>
  <button   (click)="createHackathon()" class="btn btn-default" [ngStyle]="{color: 'blue'}"  routerLink="/createHackathons">Create Hackathon</button>
  <button (click)="updateHackathon()" class="btn btn-default" [ngStyle]="{color: 'blue'}"  routerLink="/updateHackathons">Update Hackathon</button>
  <button (click)="deleteHackathon()" class="btn btn-default" [ngStyle]="{color: 'red'}"  routerLink="/deleteHackathons">Delete Hackathon</button>




  <div *ngFor="let hackathon of hackathons" id="tab-group">
    <div  id="tab-group-1" class="ready">
      <h3 id="hackathon-1"><strong>{{hackathon.name}}</strong></h3><br>
      <p id="content-1"> {{hackathon.name}} is organized by {{hackathon.host}}. It starts at {{hackathon.place}} on
        {{hackathon.startDate}}. Price for the winners: {{hackathon.price}}. Maximum number of members
        to one team is {{hackathon.numbOfMems}}. Special Notice : {{hackathon.specialNotes}}
      </p>

    </div>
  </div>
</div>
