<div class="container">
  <!--<h1 class="page-header">-->
    <!--Teams-->

  <!--</h1>-->
  <div class="col-sm-6" *ngFor="let hackathon of hackathons?.reverse()" id="tab-group" style="background: white">

    <h1 class="page-header">
      Teams of {{hackathon.name}}

    </h1>
    <div *ngFor="let team of hackathon.teams" style="background:yellow">
      <h3>{{team.teamName}}</h3><br>
      <li *ngFor="let member of team.members">{{member}}</li>



    </div>

  </div>


  <!--</div>-->


</div>
