<body>
<div class="container">
  <h1 class="h1">Create a Hackathon</h1>
  <div class="form-group">
    <!--inserting details for Hackathon-->

    <input class="form-control input-lg" placeholder="Hackathon name" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Starting Date" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Closing Date" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Happening Place" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Winning price" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Number of group members" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Special notes" autofocus><br><br>


    <button (click)="onClickCreate()" class="btn btn-primary btn-block">Create Hackathon</button>



  </div>
</div>
</body>
