<body>
<div class="container">
  <h1 class="h1">Create an Event</h1>
  <div class="form-group">
    <!--inserting details for Event-->

    <input class="form-control input-lg" placeholder="Event name" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Host Company" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Date" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Time" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Happening Place" autofocus><br><br>
    <input class="form-control input-lg" placeholder="Special notes" autofocus><br><br>
    <button (click)="eventCreate()" class="btn btn-primary btn-block">Create Event</button>



  </div>
</div>
</body>
