<div class="container">
  <h1>News</h1>
</div>
<div *ngFor="let new of news" id="tab-group">


    <div class="container" id="tab-group-1"  style="background: darkslategrey">

      <h3><strong>{{new.topic}}</strong></h3><br>

      <ul class="list-group">

        <li class="list-group-item">{{new.content}}</li>
      </ul>

      <!--<button *ngIf="authService.loggedIn() && user && user.userType===1">Subscribe</button>-->
      <!--<button *ngIf="authService.loggedIn() && user && user.userType===2" (click)="hackService.storeNewsHackathon(hackathon)" routerLink="/AddNews">News</button>-->
    </div>

</div>
