<div class="container" style="background-image: url('./../../../assets/images/hackhub-banner-sr.png');height: 100vh">
  <div class="row">

    <div class="col-sm-6">
      <h3 class="page-header">
        <h1 class="page-deader">
          {{eventService.event.name}}
        </h1>


        Host Company : {{eventService.event.host}}<br><br>

         Date : {{eventService.event.date}}<br><br>

        Starting Time : {{eventService.event.time}}<br><br>

        Place : {{eventService.event.place}}<br><br>


      </h3>
    </div>
    <div class="col-sm-6">

      <h3>

        Register Here : <a href={{eventService.event.regLink}}>{{eventService.event.regLink}}</a><br><br>

        Special Notes : {{eventService.event.specialNotes}}

      </h3>

    </div>

  </div>


</div>
