<div class="container">
  <h1 class="page-header">
    Mailing List
  </h1>
  <div class="row" *ngIf="user">
    <div class="col-sm-8">
      <textarea class="form-control input-lg" placeholder="Compose Your Email Here" style="height: 300px"
                [(ngModel)]="email" name="email"
                autofocus></textarea><br><br>
      <button class="btn btn-primary" (click)="sendEmails()">Send</button>
      <br><br>
      <input *ngIf="user.emailPassword===''" type="password" class="form-control input-lg" style="width: 60%"
             [(ngModel)]="mailPassword" name="mailPassword" placeholder="Enter Your Email Password" autofocus><br>
      <button *ngIf="user.emailPassword===''" class="btn btn-primary" (click)="enterMailPassword()">Enter</button>
      <br><br>
    </div>

    <div class="col-sm-4">
      <h2>User Emails</h2>
      <ul class="list-group" *ngFor="let user of users">

        <li class="list-group-item"><input type="checkbox"> {{user.email}}</li>

      </ul>

    </div>
  </div>


</div>
